a {
    background-color: #3A1078;
    text-decoration: none;
    color: #A7EDE7;
    padding: 10px 47px;
    letter-spacing: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    margin: 17px;
}